CREATE TABLE MP_RESERVATION
(
	ITEMID Integer NOT NULL,
	ITEMGUID Varchar(36),
	MODULEID Integer NOT NULL,
	MODULEGUID Varchar(36),
	TITLE Varchar(255),
	DESCRIPTION Blob sub_type 1,
	IMAGENAME Varchar(100),
	STARTDATE Timestamp,
	ENDDATE Timestamp,
	CREATEDDATE Timestamp NOT NULL,
	USERID Integer NOT NULL,
	USERGUID Varchar(36),
	LASTMODUSERGUID Varchar(36),
	LOCATION Blob sub_type 1,
	LASTMODUTC Timestamp,
	LASTMODGUID Varchar(36),
	PRIMARY KEY (ITEMID)
);
