SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mp_Reservation](
	[ItemID] [int] identity(1,1) not null,
	[ItemGuid] [uniqueidentifier] null,
	[ModuleID] [int] not null,
	[ModuleGuid] [uniqueidentifier] null,
	[Title] [nvarchar](255) null,
	[Description] [nvarchar](max) null,
	[ImageName] [nvarchar](100) null,
	[StartDate] [datetime] null,
	[EndDate] [datetime] null,
	[CreatedDate] [datetime] not null constraint [DF_mp_Reservation_CreatedDate] default (getdate()),
	[UserID] [int] not null,
	[UserGuid] [uniqueidentifier] null,
	[Location] [nvarchar](max) null,
	[Latitude] [nvarchar](30) null,
	[Longitude] [nvarchar](30) null,
	[LastModUserID] [int] null constraint [DF_mp_Reservation_LastModUserID] default (null),
	[LastModUserGuid] [uniqueidentifier] null constraint [DF_mp_Reservation_LastModUserGuid] default (null),
	[LastModUtc] [datetime] null constraint [DF_mp_Reservation_LastModUtc] default (null),

	constraint [PK_mp_Reservation] primary key clustered
	(
		[ItemID] asc
	) with (statistics_norecompute  = off, ignore_dup_key = off)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE INDEX [IX_mp_Reservation_dates] on [dbo].[mp_Reservation] (
	[StartDate] asc,
	[EndDate] asc
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_DeleteByModule]
	@ModuleID int
AS

	delete from [dbo].[mp_Reservation]
	where [ModuleID] = @ModuleID

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_DeleteBySite]
	@SiteID int
AS

	delete from [dbo].[mp_Reservation]
	where [ModuleID] in (
		select [ModuleID] from [dbo].[mp_Modules] where [SiteID] = @SiteID
	)

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_Delete]
	@ItemID int
AS

	delete from [dbo].[mp_Reservation]
	where [ItemID] = @ItemID

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_Insert]
	@ItemGuid	[uniqueidentifier],
	@ModuleGuid	[uniqueidentifier],
	@ModuleID [int],
	@Title [nvarchar](255),
	@Description [nvarchar](max),
	@ImageName [nvarchar](100),
	@StartDate [datetime],
	@EndDate [datetime],
	@CreatedDate [datetime],
	@UserID [int],
	@UserGuid [uniqueidentifier],
	@Location [nvarchar](max),
	@Latitude [nvarchar](30),
	@Longitude [nvarchar](30),
	@LastModUserID [int],
	@LastModUserGuid [uniqueidentifier],
	@LastModUtc [datetime]
AS

	insert into [dbo].[mp_Reservation] (
		[ItemGuid],	[ModuleGuid], [ModuleID], [Title], [Description], [ImageName], [StartDate],
		[EndDate], [CreatedDate], [UserID], [UserGuid], [Location], [LastModUserID], [LastModUserGuid],
		[LastModUtc], [Latitude], [Longitude]
	)
	values (
		@ItemGuid, @ModuleGuid, @ModuleID, @Title, @Description, @ImageName, @StartDate,
		@EndDate, @CreatedDate, @UserID, @UserGuid, @Location, @LastModUserID, @LastModUserGuid,
		@LastModUtc, @Latitude, @Longitude
	)

	select @@identity

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_Update]
	@ItemID int,
	@ItemGuid [uniqueidentifier],
	@ModuleID int,
	@ModuleGuid [uniqueidentifier],
	@Title [nvarchar](255),
	@Description [nvarchar](max),
	@ImageName [nvarchar](100),
	@StartDate [datetime],
	@EndDate [datetime],
	@Location [nvarchar](max),
	@Latitude [nvarchar](max),
	@Longitude [nvarchar](max),
	@LastModUserID [int],
	@LastModUserGuid [uniqueidentifier],
	@LastModUtc [datetime]
AS

	update 	[dbo].[mp_Reservation]
	set		[ModuleID] = @ModuleID,
			[Title] = @Title,
			[Description] = @Description,
			[ImageName] = @ImageName,
			[StartDate] = @StartDate,
			[EndDate] = @EndDate,
			[Location] = @Location,
			[Latitude] = @Latitude,
			[Longitude] = @Longitude,
			[LastModUserID] = @LastModUserID,
			[LastModUserGuid] = @LastModUserGuid,
			[LastModUtc] = @LastModUtc
	where	[ItemID] = @ItemID

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_SelectOne]
	@ItemID int
as

	select	 [ItemID]
			,[ItemGuid]
			,[ModuleID]
			,[ModuleGuid]
			,[Title]
			,[Description]
			,[ImageName]
			,[StartDate]
			,[EndDate]
			,[CreatedDate]
			,[UserID]
			,[UserGuid]
			,[Location]
			,[Latitude]
			,[Longitude]
			,[LastModUserID]
			,[LastModUserGuid]
			,[LastModUtc]
	from	[dbo].[mp_Reservation] with(nolock)
	where	[ItemID] = @ItemID

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_SelectByDate]

	@ModuleID		int,
	@BeginDate		datetime,
	@EndDate		datetime

AS

	select	*
	from	[dbo].[mp_Reservation] with(nolock)
	where	[ModuleID] = @ModuleID
		and [StartDate] between @BeginDate and @EndDate
	order by	[StartDate]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mp_Reservation_SelectByPage]
	@SiteID		int,
	@PageID		int
as

	select	[r].*, [m].[ModuleTitle], [m].[ViewRoles], [md].[FeatureName]
	from	[mp_Reservation] [r] with(nolock)
		join	[mp_Modules] [m] with(nolock) on [r].[ModuleID] = [m].[ModuleID]
		join	[mp_ModuleDefinitions] [md] with(nolock) on [m].[ModuleDefID] = [md].[ModuleDefID]
		join	[mp_PageModules] [pm] with(nolock) on pm.ModuleID = m.ModuleID
		join	[mp_Pages] [p] with(nolock) on p.PageID = pm.PageID
	where	[p].[SiteID] = @SiteID
		and [pm].[PageID] = @PageID

GO
