<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="949e081e-ea4e-4fbe-9986-25e41ff67221"
		supportedDatabases="MSSQL"
		resourceFile="ReservationsResources"
		featureNameReasourceKey="ReservationsFeatureName"
		controlSource="Reservations/ReservationsModule.ascx"
		sortOrder="620"
		isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
		isSearchable="true"
		searchListNameResourceKey="ReservationsSearchName"
		deleteProvider="CalendarContentDeleteHandler"
		supportsPageReuse="false"
		>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapHeightSetting"
				defaultValue="300"
				controlType="TextBox"
				controlSrc=""
				helpKey=""
				sortOrder="110"
				regexValidationExpression="^[1-9][0-9]{0,4}$"
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapWidthSetting"
				defaultValue="500"
				controlType="TextBox"
				controlSrc=""
				helpKey=""
				sortOrder="120"
				regexValidationExpression="^[1-9][0-9]{0,4}[px|%]?"
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapEnableMapTypeSetting"
				defaultValue="false"
				controlType="CheckBox"
				controlSrc=""
				helpKey=""
				sortOrder="130"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapEnableZoomSetting"
				defaultValue="false"
				controlType="CheckBox"
				controlSrc=""
				helpKey=""
				sortOrder="140"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapShowInfoWindowSetting"
				defaultValue="false"
				controlType="CheckBox"
				controlSrc=""
				helpKey=""
				sortOrder="150"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapEnableLocalSearchSetting"
				defaultValue="false"
				controlType="CheckBox"
				controlSrc=""
				helpKey=""
				sortOrder="160"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapEnableDirectionsSetting"
				defaultValue="true"
				controlType="CheckBox"
				controlSrc=""
				helpKey=""
				sortOrder="170"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapInitialMapTypeSetting"
				defaultValue="G_NORMAL_MAP"
				controlType="ISettingControl"
				controlSrc="~/Controls/GMapTypeSetting.ascx"
				helpKey=""
				sortOrder="180"
				regexValidationExpression=""/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="GoogleMapInitialZoomSetting"
				defaultValue="13"
				controlType="ISettingControl"
				controlSrc="~/Controls/GMapZoomLevelSetting.ascx"
				helpKey=""
				sortOrder="190"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="CustomCssClassSetting"
				defaultValue=""
				controlType="TextBox"
				controlSrc=""
				helpKey="custom-module-css-class-help"
				sortOrder="300"
				regexValidationExpression="^([\s]?[a-zA-Z]+[_\-a-zA-Z0-9]+)*\z+"
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="CustomEventColors"
				defaultValue=""
				controlType="TextBox"
				controlSrc=""
				helpKey="custom-module-css-class-help"
				sortOrder="300"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="ReservationsLocation"
				defaultValue=""
				controlType="TextBox"
				controlSrc=""
				helpKey=""
				sortOrder="300"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="ReservationsLatitude"
				defaultValue=""
				controlType="TextBox"
				controlSrc=""
				helpKey=""
				sortOrder="300"
				regexValidationExpression=""
				/>
		<featureSetting
				resourceFile="ReservationsResources"
				resourceKey="ReservationsLongitude"
				defaultValue=""
				controlType="TextBox"
				controlSrc=""
				helpKey=""
				sortOrder="300"
				regexValidationExpression=""
				/>
	</featureDefinition>
</featureDefinitions>
